/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2D2D2D;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 60px;
}

.contact-info {
    flex-grow: 1;
    text-align: center;
}

.contact-info a {
    text-decoration: none;
    color: #F9FBFA;
    font-size: 16px;
}

.contact-info a:hover {
    color: #41a349;
}

.page-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #F9FBFA;
    font-size: 16px;
}

.page-links a:hover {
    color: #41a349;
}

.vertical-buttons {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.vertical-buttons a {
    margin: 10px 0;
    font-size: 32px;
    color: #F9FBFA;
    text-decoration: none;
}

.vertical-buttons a:hover {
    color: #41a349;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    position: relative;
    padding: 20px;
}

.text-block {
    flex: 1;
    max-width: 600px;
    z-index: 5;
    color: whitesmoke;
    padding: 20px;
    align-self: center;
	transform: translateX(50%) translateY(-20%);
}

.text-block h1 {
    font-size: 48px;
    margin: 0;
}

.text-block h2 {
    font-size: 24px;
    margin: 10px 0;
}

.text-block p {
    font-size: 18px;
}

.image-block {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); /* Center vertically */
    width: 40%;
    height: auto;
    max-height: 80%; /* Adjust to prevent cutting off */
    z-index: 0;
}

.image-block img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
}
